{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
<div class="col-lg-12" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Update Contract Sauda
                    {{#if err}}
                        <div class="alert alert-danger">
                            <strong>{{err}}</strong>
                        </div>
                    {{/if}}
                    {{#if errors}}
                             <div class="alert alert-danger">
                                <strong>{{errors}}</strong>
                            </div>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <div class="alert alert-success brandsuccess" style="display:none;"></div>
                    <div class="alert alert-danger branddanger" style="display:none;"></div>
                    <form method="POST" action="/contract_sauda/update/{{contract.id}}" class="repeater" enctype="" id="contract_sauda" style="width: 912px;">
                 <div class="row"> 
                    <div class="col-sm-2">
                            <label>Sauda Number:</label>
                    </div> 
                         <div class="col-sm-2"> 
                            <input name="c_j_s_p"  value="{{contract.c_j_s_p}}"  class="form-control item_name">
                    </div> 
                         <div class="col-sm-2">
                          <input type="text" name="vouc_code" value="{{contract.vouc_code}}"   class="form-control item_name">
                    </div>    
                     <div class="col-sm-2">
                      <label>Sauda Date:</label>
                    </div> 
                          <div class="col-sm-2">
                              <input type="text" class="form-control" name="sd_date" id="offerstartdate" value="{{dateformat contract.sd_date 'DD/MM/YYYY'}}"/>
                          {{!-- <input type="text" name="sd_date" id="offerstartdate" value="{{contract.sd_date}}"  placeholder="dd/mm/yyyy" class="form-control datepicker"> --}}
                    </div> 
                    <div class="col-sm-2">
                             <input type="checkbox" name="brok_yn" {{chkchecked contract.brok_yn "Yes" }} value="Yes"> Brokerage
                    </div>   
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="sl_brok" value="Yes" {{chkchecked contract.sl_brok "Yes"}} required="">Seller
                    </div> 
                           
                         <div class="col-sm-4">
                                   {{#list party 'S' contract.sl_code 'sl_code' }}
                                        {{this.party_name}},{{this.city_name.city_name}}
                                    {{/list}}
                    </div> 
                     <div class="col-sm-2">
                    <label>Kind Attn:</label>
                          </div> 
                    
                    <div class="col-sm-4">
                        <div class="kind_name_div">
                          <input type="text" name="sl_cont" value="{{contract.sl_cont}}" id="sl_cont" class="form-control">
                    </div>
                     
                    </div> 
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="sb_brok" {{chkchecked contract.sb_brok "Yes"}}  value="Yes">Seller Broker
                    </div> 
                     <div class="col-sm-4">
                         {{#list party 'R' contract.sb_code  'sb_code' }}
                            {{this.party_name}},{{this.city_name.city_name}}
                        {{/list}}
                         {{!-- <select name="sb_code" list="sb_name" id="sb_code" class="form-control"> 
                             {{#each party}}
                                <option value="{{this._id}}" data-sb_id="{{this._id}}">{{this.party_name}},{{this.city_name}}</option>
                            {{/each}}
                        </select>     --}}
                    </div> 
                    {{!-- {{contract}} --}}
                     <div class="col-sm-2">
                         <label>Kind Attn:</label>
                    </div> 
                    <div class="col-sm-4">
                        <div class="sb_cont_div">
                          <input type="text" name="sb_cont" value="{{contract.sb_cont}}" id="sb_cont" class="form-control">
                          </div>
                    </div> 
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="br_brok[]" value="Yes" {{chkchecked contract.br_brok "Yes"}} required="">Buyer
                    </div> 
                    <div class="col-sm-4"> 
                            {{#list party 'B' contract.br_code  'br_code' }}
                                        {{this.party_name}},{{this.city_name.city_name}}
                            {{/list}}
                    </div> 
                     <div class="col-sm-2">
                         <label>Kind Attn:</label>
                    </div> 
                    <div class="col-sm-4">
                          <div class="br_cont_div">
                          <input type="text" name="br_cont" value="{{contract.br_cont}}" id="br_cont" class="form-control">
                          </div>
                    </div> 
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="bb_brok[]" {{chkchecked contract.bb_brok "Yes"}} value="Yes">Buyer Broker
                    </div> 
                    <div class="col-sm-4"> 
                           {{#list party 'T' contract.bb_code  'bb_code' }}
                            {{this.party_name}},{{this.city_name.city_name}}
                         {{/list}}
                    </div> 
                     <div class="col-sm-2">
                         <label>Kind Attn:</label>
                    </div> 
                    <div class="col-sm-4">
                        <div class="bb_cont_div">
                          <input type="text" name="bb_cont" value="{{contract.bb_cont}}" id="bb_cont" class="form-control">
                          </div>
                    </div>  
                </div>
                 <div class="row"> 
                         <div class="col-sm-2">
                             <label>P.O Number:</label>     
                    </div> 
                    <div class="col-sm-4">
                            <input type="text" name="pono" id="pono" value="{{contract.pono}}"  class="form-control">
                    </div> 
                     <div class="col-sm-2">
                         <label>P.O Date:</label>
                    </div> 
                    <div class="col-sm-4">
                          
                          <input type="text" name="podt"  value="{{contract.podt}}" class="form-control datepicker">
                    </div>  
                </div>
            <div class="row"> 
                         <div class="col-sm-2">
                             <label>Buy' Warehouse:</label>     
                    </div> 
                    <div class="col-sm-4">
                            <input type="text" name="buy_whouse" value="{{contract.buy_whouse}}" class="form-control">
                    </div> 
                     <div class="col-sm-2">
                          <label>Remarks:</label>
                    </div> 
                    <div class="col-sm-4"> 
                          <input type="text" name="rmks" value="{{contract.rmks}}" id="remarks" class="form-control">
                    </div>  
                </div>
                <br/>
               
                    <div class="table-responsive">
        <table>
            <thead style="background-color:#ddd;color: black;">
                <tr>
                <th>Product</th>
                <th>Brand</th>
                <th>Bag</th>
                <th>Pack</th>
                <th>Unit</th>
                <th>Wght</th>
                <th>Sauda Rt</th>
                <th>Seller Rt</th>
                <th>Buyer Rt</th>
                <th>Rate /Type</th>
                <th>Qtl /Tons</th>
                <th>Per</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Old/New</th>
                <th>IPack</th>
                <th>SI Brok Rt</th>
                <th>Type</th>
                <th>SL.Brok</th>
                <th>By Brok Rt</th>
                <th>Type</th>
                <th>By Brok</th>
                <th>SI Brok Rt</th>
                <th>Type</th>
                <th>Delete</th>
                </tr>
            </thead>
            {{#each contract.sauda2.contract_sauda_group as |value key|}}
            <tbody class="sauda_variation_row-{{sum @index 1}}" id="sauda_variation_row-{{sum @index 1}}-{{sum @index 1}}">
           <tr>                   
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][p_code]"  id="inp_code{{sum @index 1}}"  class="form-control" style="width:102px;"> 
                        {{#each ../product_mast}}
                        <option value="{{this._id}}" data-serialnum="{{this._id}}" {{#equal ../p_code this._id}}selected=""{{/equal}}>{{this.product_name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brand_name]" list="brand_name" class="form-control brand_name" style="width: 102px;"> 
                        {{#each ../brand}}
                        <option value="{{this._id}}" data-serialnum="{{this._id}}" {{#equal ../brand_name this._id}}selected=""{{/equal}}>{{this.brand_name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input type="text"  name="contract_sauda_group[{{sum @index 1}}][bag]" value="{{this.bag}}" oninput='calc({{sum @index 1}})'  id="bag{{sum @index 1}}" class="form-control" style="width: 72px;">
                </td>
                <input type="hidden" name="cntr{{sum @index 1}}" value="{{sum @index 1}}" id="cntr{{sum @index 1}}" class="form-control" style="width: 102px;">
                <td class="pack_name">
                    {{!-- <div> --}}
                    <input type="text" name="contract_sauda_group[{{sum @index 1}}][pck]" value="{{this.pck}}" oninput='calc({{sum @index 1}})' id="pck{{sum @index 1}}" class="form-control" style="width: 72px;">
                    {{!-- </div> --}}
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brnd_code]" list="brnd_code" id="inbrnd_code{{sum @index 1}}" value="{{this.brnd_code}}"  class="form-control" style="width: 72px;">
                    <option value="KG">KG</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][wght]" id="wght{{sum @index 1}}" oninput='calc({{sum @index 1}})' value="{{this.wght}}"  class="form-control wght" style="width: 82px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][sd_rate]" id="sel_rate{{sum @index 1}}" oninput='calc({{sum @index 1}})' value="{{this.sd_rate}}" class="form-control wght" style="width: 72px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][s_rate]" id="seler_rate{{sum @index 1}}"  value="{{this.s_rate}}" class="form-control" style="width: 72px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][buy_rate]" id="buy_rate{{sum @index 1}}" value="{{this.b_rate}}" class="form-control" style="width: 72px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][w_q]" id="w_q{{sum @index 1}}" oninput='calc({{sum @index 1}})' class="form-control w_q" style="width: 72px;">
                    {{!-- <option value="{{this.w_q}}">{{this.w_q}}</option> --}}
                    <option value="W" {{#equal this.w_q "W"}}selected=""{{/equal}}>W</option>
                    <option value="Q" {{#equal this.w_q "Q"}}selected=""{{/equal}}>Q</option>
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][wghtunit]" id="wghtunit{{sum @index 1}}" oninput='calc({{sum @index 1}})' class="form-control" style="width: 72px;">
                    {{!-- <option value="{{this.wghtunit}}">{{this.wghtunit}}</option> --}}
                    <option value="Qtl" {{#equal this.wghtunit "Qtl"}}selected=""{{/equal}}>Qtl</option>
                    <option value="Tons" {{#equal this.wghtunit "Tons"}}selected=""{{/equal}}>Tons</option>
                    <option value="Kg" {{#equal this.wghtunit "Kg"}}selected=""{{/equal}}>Kg</option>
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][rateper]" id="rateper{{sum @index 1}}" class="form-control" style="width: 62px;">
                    {{!-- <option value="{{this.rateper}}">{{this.rateper}}</option> --}}
                    <option value="1" {{#equal this.rateper "1"}}selected=""{{/equal}}>1</option>
                    <option value="10" {{#equal this.rateper "10"}}selected=""{{/equal}}>10</option>
                    <option value="100" {{#equal this.rateper "100"}}selected=""{{/equal}}>100</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][amount]" value="{{this.amount}}" id="amount{{sum @index 1}}" class="form-control amount" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][pcktype]" id="pcktype" class="form-control" style="width: 102px;">
                    <option value="Gross" {{#equal this.pcktype "Gross"}}selected=""{{/equal}}>Gross</option>
                    <option value="Net" {{#equal this.pcktype "Net"}}selected=""{{/equal}}>Net</option>
                    </select>
                </td> 
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][g_n]" id="g_n{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="O" {{#equal this.g_n "O"}}selected=""{{/equal}}>O</option>
                    <option value="N" {{#equal this.g_n "N"}}selected=""{{/equal}}>N</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][ipack]" value="{{this.ipack}}" class="form-control" style="width: 102px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_rt]" value="{{this.slbrk_rt}}" id="slbrk_rt{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][slbrk_type]" id="slbrk_type{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.slbrk_type "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.slbrk_type "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl" {{#equal this.slbrk_type "PQtl"}}selected=""{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.slbrk_type "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_amt]" value="{{this.slbrk_amt}}" id="slbrk_amt{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][brbrk_rt]" value="{{this.brbrk_rt}}" id="brbrk_rt{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brbrk_typ]" value="{{this.brbrk_typ}}" id="brbrk_typ{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.brbrk_typ "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.brbrk_typ "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl"  {{#equal this.brbrk_typ "PQtl"}}selected{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.brbrk_typ "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][brbrk_amt]" value="{{this.brbrk_amt}}" id="amount2{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_rte]" value="{{this.slbrk_rte}}" id="slbrk_rte{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][slbrk_typ]" id="slbrk_typ{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.slbrk_typ "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.slbrk_typ "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl" {{#equal this.slbrk_typ "PQtl"}}selected=""{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.slbrk_typ "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                    </td>
                    <td>
                        {{#notequal @index 0}}
                        <a  data-repeater-delete="inner-field-{{@../index}}-{{sum @index 1}}" data-brand-index="{{sum @index 1}}" class='sauda_delete_btn' style='cursor:pointer;'><i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i></a>
                        {{/notequal}}
                    </td>
             </tr>
             </tbody>
            {{/each}}
            <tbody id="contract_div"></tbody> 
            
    </table>
    </div>
    <center><a id="add" class="addMachine" style="font-size: 30px;cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i></a></center>
     
     
                <div class="row"> 

                         <div class="col-sm-2">
                            <label style="margin-left: 22px;">Total Bags:</label>
                    </div> 
                         <div class="col-sm-2">
                            <input name="tot_bags" id="tot_bags"  value="{{contract.tot_bags}}" class="form-control tot_bags" style="margin-left: -58px;">
                    </div> 
                     <div class="col-sm-2">
                            <label>Total Wght:</label>
                    </div> 
                         <div class="col-sm-2">
                             
                          <input type="text" name="tot_wght" id="tot_wght" value="{{contract.tot_wght}}" class="form-control item_name" style="margin-left: -58px;">
                    </div>
                          
                     <div class="col-sm-2">
                      <label>Total Amount:</label>
                    </div> 
                          <div class="col-sm-2">
                          <input type="text" name="tot_ammount" id="tot_ammount" value="{{contract.tot_ammount}}" class="form-control tot_ammount" style="margin-left: -18px;">
                    </div>     
                </div>
                <br/>
                <div class="col-lg-7">
               <div class="panel panel-default">
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Delv/Loading</label>     
                    </div> 
                    <div class="col-sm-9">
                        <select name="delv_load" class="form-control">
                            <option value="delivery" {{#equal contract.delv_load "delivery"}}selected=""{{/equal}}>Delivery</option>
                            <option value="loading" {{#equal contract.delv_load "loading"}}selected=""{{/equal}}>Loading</option>
                        </select>
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Period/Upto</label>     
                    </div> 
                    <div class="col-sm-2">
                        {{!-- value="{{dateformat Date.now 'DD/MM/YYYY'}}" --}}
                            <input type="text" name="delv_fr" value="{{contract.delv_fr}}" class="form-control datepicker" style="width: 92px;">
                    </div>
                     <div class="col-sm-1">
                          <label style="margin-left: 12px;">To</label>
                    </div> 
                    <div class="col-sm-2"> 
                        {{!-- value="{{dateformat Date.now 'DD/MM/YYYY'}}" --}}
                          <input type="text" name="delv_to"  id="party_up_to" value="{{contract.delv_to}}" class="form-control datepicker" style="width: 82px;">
                    </div> 
                     <div class="col-sm-2">
                          <label >Term</label>
                    </div>
                     <div class="col-sm-2" style="margin-left: -38px;width: 126px;"> 
                          {{#listrt term contract.term  'term' }}
                            {{this.term_name}}
                         {{/listrt}} 
                    </div>
                </div>
                 <div class="row"> 
                     <div class="col-sm-3">
                          <label style="margin-left: 12px;">Details</label>
                    </div>
                     <div class="col-sm-9"> 
                          <input type="text" name="delvdt" id="party_details" value="{{contract.delvdt}}" class="form-control" >
                    </div>
                </div>
                 <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Station</label>     
                    </div> 
                    <div class="col-sm-3 staion_div">
                         <input type="text" name="from_ct" value="{{contract.from_ct}}" id="from_ct" class="form-control"> 
                         {{!-- {{#listrt city contract.from_ct  'from_ct' }}
                            {{this.city_name}}
                         {{/listrt}} --}}
                        {{!-- <select name="party_station" class="form-control">
                            {{#each city}}
                            <option value="{{this._id}}">{{this.city_name}}</option>
                            {{/each}}
                        </select> --}}
                    </div>
                     <div class="col-sm-2">
                          <label>To</label>
                    </div> 
                    <div class="col-sm-3 " style="width: 173px;margin-left: 3px;"> 
                         {{!-- <input type="text" name="to_ct" value="{{contract.to_ct}}" id="to_ct" class="form-control">  --}}
                         {{#listrt city contract.to_ct  'to_ct'}}
                            {{this.city_name}}
                         {{/listrt}}
                        {{!-- <select name="party_station_to" id="remarks" class="form-control" style="width: 132px;">
                            {{#each city}}
                            <option value="{{this._id}}">{{this.city_name}}</option>
                            {{/each}}
                        </select> --}}
                    </div> 
                </div>
                <div class="row"> 
                    <div class="col-sm-2">
                            <input type="radio" name="paycond" {{chkchecked contract.paycond 'D'}} value="D" style="margin-left: 12px;">
                    </div>
                     <div class="col-sm-2">
                          <label style="margin-left: -38px">Disc(%)</label>
                    </div> 
                      <div class="col-sm-2">
                             <input type="text" class="form-control" name="paydiscrt" value="{{contract.paydiscrt}}" style="margin-left: -43px;width: 102px;">  
                    </div> 
                    <div class="col-sm-2"> 
                          <input type="radio" name="paycond" {{chkchecked contract.paycond 'C'}} value="C" style="margin-left:-20px;">
                    </div> 
                     <div class="col-sm-1">
                          <label style="margin-left: -85px;">Credit(Days)</label>
                    </div> 
                    <div class="col-sm-2"> 
                          <input type="text" name="cre_days" value="{{contract.cre_days}}" class="form-control" style="margin-left: -40px;width: 143px;">
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Details</label>     
                    </div> 
                    <div class="col-sm-9">
                            <input type="text" name="paydet" value="{{contract.paydet}}" class="form-control">
                    </div>  
                </div>
                </div>
                </div>
                <div class="col-lg-5">
               <div class="panel panel-default">
                <br/>
                 <div class="row"> 
                     <div class="col-sm-5">
                          <label style="margin-left: 12px;">Other Terms & condition</label>
                    </div>
                     <div class="col-sm-7">
                         {{#listrt narration contract.party_terms  'party_terms'}}
                            {{this.narration_name}}
                         {{/listrt}}
                         {{!-- <select name="party_terms" id="party_terms" class="form-control">
                            {{#each narration}}
                            <option value="{{this._id}}">{{this.narration_name}}</option>
                            {{/each}}
                         </select> --}}
                    </div>
                </div>
                <br/>
                 <div class="row"> 
                         <div class="col-sm-5">
                             <label style="margin-left: 12px;">Remarks</label>     
                    </div> 
                    <div class="col-sm-7">
                            <input type="text" name="party_remarks" value="{{contract.party_remarks}}" class="form-control">
                    </div>
                </div>
                <br/>
                </div>
                 </div>
               </div>
                <br/>
                <div class="box-footer">
                      <input type="submit" class="btn btn-info " value="submit" id="submit">
                       <input type="reset" class="btn btn-default pull-right" value="Clear Form">
                </div>
            </form>
            </div>
              </div>  
      
        {{!-- <div class="col-lg-6" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Group LIST
                </div>
                <div class="table-responsive">
                    <table class="product_detail_table">
                        <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Group Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                      </tr>  
                        </thead>
                        <tbody>
                                {{#each group as |value key|}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>{{this.group_name}}</td>
                                    <td><a href="javascript:void(0);"  class="edit_group_btn" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                                    <td><a href="javascript:void(0);" class="delete-group" data-id="{{this._id}}"><i class="fa fa-trash-o" style="color:red;"></a></td>
                               </tr>
                              {{/each}}  
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                </div> --}}
        </div>  
        </div>
        <style>
            tbody td {
            padding: 0px;
            }
        </style>
        {{> footer}}
        