{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
<div class="col-lg-6" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Add Daily Rates
                    {{#if err}}
                        <div class="alert alert-danger">
                            <strong>{{err}}</strong>
                        </div>
                    {{/if}}
                    {{#if errors}}
                             <div class="alert alert-danger">
                                <strong>{{errors}}</strong>
                            </div>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <div class="alert alert-success brandsuccess" style="display:none;"></div>
                    <div class="alert alert-danger branddanger" style="display:none;"></div>
                     <form method="POST" action="/daily_rates/daily_rates_add" enctype="" id="daily_rates">
                    <div class="row"> 
                         <div class="col-sm-12">
                          <label>Station Name:</label>
                            <input class="form-control st_name" placeholder="Station Name" name="st_name" type="text">
                            <span class="form_error">Please Enter Station Name</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Product Name:</label>
                            <input class="form-control item_name" list="item_name" placeholder="Product Name" name="item_name" type="text">
                            <datalist id="item_name">  
                            <option value="">Select Name </option>
                            {{#each product}}
                                    <option value="{{this.item_name}}" data-serialnum="{{this.item_name}}">{{this.item_name}}</option>
                                {{/each}}
                            </datalist>
                            <span class="form_error">Please Enter Product Name</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Product Specifications:</label>
                            <input class="form-control prod_spec" placeholder="Product Specifications" name="prod_spec" type="text">
                            <span class="form_error">Please Enter Product Specifications</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Minimum Rate:</label>
                            <input class="form-control rate_min" placeholder="Minimum Rate" name="rate_min" type="text">
                            <span class="form_error">Please Enter Minimum Rate</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Maximum Rate:</label>
                            <input class="form-control rate_max" placeholder="Maximum Rate" name="rate_max" type="text">
                            <span class="form_error">Please Enter Maximum Rate</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Condition:</label>
                            <input class="form-control rate_condtion" placeholder="Condition" name="rate_condtion" type="text">
                            <span class="form_error">Please Enter Condition</span>
                    </div> 
                </div>
                <br/>
                <button type="submit" name="save" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </form>
             <form method="POST" action=""  class="edit_daily_rates" id="edit_daily_rates" style="display:none;">
                    <div class="row"> 
                         <div class="col-sm-12">
                          <label>Station Name:</label>
                            <input class="form-control st_name" placeholder="Station Name" name="st_name" type="text">
                            <span class="form_error">Please Enter Station Name</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Product Name:</label>
                            <input class="form-control item_name" placeholder="Product Name" name="item_name" type="text">
                            <span class="form_error">Please Enter Product Name</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Product Specifications:</label>
                            <input class="form-control prod_spec" placeholder="Product Specifications" name="prod_spec" type="text">
                            <span class="form_error">Please Enter Product Specifications</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Minimum Rate:</label>
                            <input class="form-control rate_min" placeholder="Minimum Rate" name="rate_min" type="text">
                            <span class="form_error">Please Enter Minimum Rate</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Maximum Rate:</label>
                            <input class="form-control rate_max" placeholder="Maximum Rate" name="rate_max" type="text">
                            <span class="form_error">Please Enter Maximum Rate</span>
                    </div> 
                </div>
                <div class="row"> 
                         <div class="col-sm-12">
                          <label>Condition:</label>
                            <input class="form-control rate_condtion" placeholder="Condition" name="rate_condtion" type="text">
                            <span class="form_error">Please Enter Condition</span>
                    </div> 
                </div>
                <br/>
                <button type="submit" name="save" class="btn btn-success">Update</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </form>
        </div>
      </div>
      </div>
        <div class="col-lg-6" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Daily Rates LIST
                </div>
                <div class="table-responsive">
                    <table class="product_detail_table">
                        <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Station Name</th>
                            <th>Product Name</th>
                            <th>Product Specifications</th>
                            <th>Minimum Rate</th>
                            <th>Maximum Rate</th>
                            <th>Condition</th>
                            <th>Edit</th>
                            <th>Delete</th>
                      </tr>  
                        </thead>
                        <tbody>
                                {{#each daily_rates as |value key|}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>{{this.st_name}}</td>
                                    <td>{{this.item_name}}</td>
                                    <td>{{this.prod_spec}}</td>
                                    <td>{{this.rate_min}}</td>
                                    <td>{{this.rate_max}}</td>
                                    <td>{{this.rate_condtion}}</td>
                                    <td><a href="javascript:void(0);"  class="edit_daily_rates_btn" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                                    <td><a href="javascript:void(0);" class="delete_daily_rates" data-id="{{this._id}}"><i class="fa fa-trash-o" style="color:red;"></a></td>
                               </tr>
                              {{/each}}  
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                </div>
        </div>  
        </div>
        {{> footer}}