{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
<div class="col-lg-12" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Delivery Entry
                    {{#if err}}
                        <div class="alert alert-danger">
                            <strong>{{err}}</strong>
                        </div>
                    {{/if}}
                    {{#if errors}}
                             <div class="alert alert-danger">
                                <strong>{{errors}}</strong>
                            </div>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <div class="alert alert-success brandsuccess" style="display:none;"></div>
                    <div class="alert alert-danger branddanger" style="display:none;"></div>
                     <form method="POST" action="/delivery_entry/delivery_entry_list_update/{{delveryentry1.id}}" class="repeater" enctype="" id="delivery_entry" style="width: 900px;">
                 <div class="row"> 
                         <div class="col-sm-2">
                           {{!-- {{contract}} --}}
                            <label>Ref Number:</label>
                    </div> 
                         <div class="col-sm-2">
                            <input name="c_j_s_p" value="{{delveryentry1.c_j_s_p}}"   class="form-control c_j_s_p">
                    </div> 
                         <div class="col-sm-2">
                          <input type="text" name="vouc_code" value="{{delveryentry1.vouc_code}}"  class="form-control delivery_number">
                    </div>    
                     <div class="col-sm-2">
                      <label>Delivery Date:</label>
                    </div> 
                          <div class="col-sm-2">
                          <input type="text" class="form-control" name="sd_date" id="offerstartdate" value="{{dateformat delveryentry1.sd_date 'DD/MM/YYYY'}}"/>
                    </div> 
                    {{!-- <div class="col-sm-2">
                             <input type="checkbox" name="brok_yn" value="Yes" checked=""> Buyer
                    </div>    --}}
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="br_brok" value="Yes" {{chkchecked delveryentry1.br_brok "Yes"}} required="">Buyer
                    </div> 
                         <div class="col-sm-4">
                              {{#list party 'B' delveryentry1.br_code  'br_code' }}
                                        {{this.party_name}}
                            {{/list}}
                              {{!-- <select name="br_code" list="br_code" class="form-control" id=""> 
                                    {{#each party}}
                                    <option value="{{this._id}}" data-party_id="{{this._id}}">{{this.party_name}}</option>
                                    {{/each}}
                                </select> --}}                                                                       
                    </div> 
                     <div class="col-sm-2">
                            <label>contact:</label>
                    </div> 
                    
                    <div class="col-sm-4">
                        <div class="kind_name_div">
                          <input type="text" name="br_cont" value="{{delveryentry1.br_cont}}" id="br_cont" class="form-control">
                    </div>
                     
                    </div> 
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="bb_brok" {{chkchecked delveryentry1.bb_brok "Yes"}} value="Yes">Buyer Broker
                    </div> 
                     <div class="col-sm-4">
                           {{#list party 'T' delveryentry1.bb_code  'bb_code' }}
                            {{this.party_name}}
                         {{/list}}
                    </div> 
                     <div class="col-sm-2">
                         <label>contact:</label>
                    </div> 
                    <div class="col-sm-4">
                        <div class="sb_cont_div">
                          <input type="text" name="bb_cont" value="{{delveryentry1.bb_cont}}" id="bb_cont" class="form-control">
                          </div>
                    </div> 
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="sl_brok" value="Yes" {{chkchecked delveryentry1.sl_brok "Yes"}} required="">Seller
                    </div> 
                    <div class="col-sm-4">
                          {{#list party 'S' delveryentry1.sl_code 'sl_code' }}
                                        {{this.party_name}}
                                    {{/list}}
                    </div> 
                     <div class="col-sm-2">
                         <label>contact:</label>
                    </div> 
                    <div class="col-sm-4">
                          <div class="br_cont_div">
                          <input type="text" name="sl_cont" value="{{delveryentry1.sl_cont}}" id="sl_cont" class="form-control">

                          </div>
                    </div> 
                </div>
                  <div class="row"> 
                         <div class="col-sm-2">
                            <input type="checkbox" name="sb_brok" {{chkchecked delveryentry1.sb_brok "Yes"}} value="Yes">Seller Broker
                    </div> 
                    <div class="col-sm-4">
                          {{#list party 'R' delveryentry1.sb_code  'sb_code' }}
                            {{this.party_name}}
                        {{/list}}
                    </div> 
                     <div class="col-sm-2">
                         <label>contact:</label>
                    </div> 
                    <div class="col-sm-4">
                        <div class="bb_cont_div">
                          <input type="text" name="sb_cont" value="{{delveryentry1.sb_cont}}" id="sb_cont" class="form-control">
                          </div>
                    </div>  
                </div>
                 {{!-- <div class="row"> 
                         <div class="col-sm-2">
                             <label>P.O Number:</label>     
                    </div> 
                    <div class="col-sm-4">
                            <input type="text" name="po_no" id="pono"  class="form-control">
                    </div> 
                     <div class="col-sm-2">
                         <label>P.O Date:</label>
                    </div> 
                    <div class="col-sm-4">
                          
                          <input type="text" name="po_date"  value="{{dateformat Date.now 'DD/MM/YYYY'}}" class="form-control datepicker">
                    </div>  
                </div> --}}
            {{!-- <div class="row"> 
                         <div class="col-sm-2">
                             <label>Buy' Warehouse:</label>     
                    </div> 
                    <div class="col-sm-4">
                            <input type="text" name="buy_whouse" class="form-control">
                    </div> 
                     <div class="col-sm-2">
                          <label>Remarks:</label>
                    </div> 
                    <div class="col-sm-4"> 
                          <input type="text" name="remarks" id="remarks" class="form-control">
                    </div>  
                </div> --}}
                <br/>
                   <div class="table-responsive">
        <table>
            <thead style="background-color:#ddd;color: black;">
                <tr>
                <th>Product</th>
                <th>Brand</th>
                <th>Bag</th>
                <th>Pack</th>
                <th>Unit</th>
                <th>Wght</th>
                <th>Sauda Rt</th>
                <th>Seller Rt</th>
                <th>Buyer Rt</th>
                <th>Rate /Type</th>
                <th>Qtl /Tons</th>
                <th>Per</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Old/New</th>
                <th>IPack</th>
                <th>SI Brok Rt</th>
                <th>Type</th>
                <th>SL.Brok</th>
                <th>By Brok Rt</th>
                <th>Type</th>
                <th>By Brok</th>
                <th>SI Brok Rt</th>
                <th>Type</th>
                <th>Delete</th>
                </tr>
            </thead>
            {{#each delveryentry1.sauda2.contract_sauda_group as |value key|}}
            <tbody class="sauda_variation_row-{{sum @index 1}}" id="sauda_variation_row-{{sum @index 1}}-{{sum @index 1}}">
           <tr>                   
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][p_code]"  id="inp_code{{sum @index 1}}"  class="form-control" style="width:102px;"> 
                        {{#each ../product_mast}}
                        <option value="{{this._id}}" data-serialnum="{{this._id}}" {{#equal ../p_code this._id}}selected=""{{/equal}}>{{this.product_name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brand_name]" list="brand_name" class="form-control brand_name" style="width: 102px;"> 
                        {{#each ../brand}}
                        <option value="{{this._id}}" data-serialnum="{{this._id}}" {{#equal ../brand_name this._id}}selected=""{{/equal}}>{{this.brand_name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input type="text"  name="contract_sauda_group[{{sum @index 1}}][bag]" value="{{this.bag}}" oninput='calc({{sum @index 1}})'  id="bag{{sum @index 1}}" class="form-control" style="width: 72px;">
                </td>
                <input type="hidden" name="cntr{{sum @index 1}}" value="{{sum @index 1}}" id="cntr{{sum @index 1}}" class="form-control" style="width: 102px;">
                <td class="pack_name">
                    {{!-- <div> --}}
                    <input type="text" name="contract_sauda_group[{{sum @index 1}}][pck]" value="{{this.pck}}" oninput='calc({{sum @index 1}})' id="pck{{sum @index 1}}" class="form-control" style="width: 72px;">
                    {{!-- </div> --}}
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brnd_code]" list="brnd_code" id="inbrnd_code{{sum @index 1}}" value="{{this.brnd_code}}"  class="form-control" style="width: 72px;">
                    <option value="KG">KG</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][wght]" id="wght{{sum @index 1}}" oninput='calc({{sum @index 1}})' value="{{this.wght}}"  class="form-control wght" style="width: 82px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][sd_rate]" id="sel_rate{{sum @index 1}}" oninput='calc({{sum @index 1}})' value="{{this.sd_rate}}" class="form-control wght" style="width: 72px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][s_rate]" id="seler_rate{{sum @index 1}}"  value="{{this.s_rate}}" class="form-control" style="width: 72px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][buy_rate]" id="buy_rate{{sum @index 1}}" value="{{this.b_rate}}" class="form-control" style="width: 72px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][w_q]" id="w_q{{sum @index 1}}" oninput='calc({{sum @index 1}})' class="form-control w_q" style="width: 72px;">
                    {{!-- <option value="{{this.w_q}}">{{this.w_q}}</option> --}}
                    <option value="W" {{#equal this.w_q "W"}}selected=""{{/equal}}>W</option>
                    <option value="Q" {{#equal this.w_q "Q"}}selected=""{{/equal}}>Q</option>
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][wghtunit]" id="wghtunit{{sum @index 1}}" oninput='calc({{sum @index 1}})' class="form-control" style="width: 72px;">
                    {{!-- <option value="{{this.wghtunit}}">{{this.wghtunit}}</option> --}}
                    <option value="Qtl" {{#equal this.wghtunit "Qtl"}}selected=""{{/equal}}>Qtl</option>
                    <option value="Tons" {{#equal this.wghtunit "Tons"}}selected=""{{/equal}}>Tons</option>
                    <option value="Kg" {{#equal this.wghtunit "Kg"}}selected=""{{/equal}}>Kg</option>
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][rateper]" id="rateper{{sum @index 1}}" class="form-control" style="width: 62px;">
                    {{!-- <option value="{{this.rateper}}">{{this.rateper}}</option> --}}
                    <option value="1" {{#equal this.rateper "1"}}selected=""{{/equal}}>1</option>
                    <option value="10" {{#equal this.rateper "10"}}selected=""{{/equal}}>10</option>
                    <option value="100" {{#equal this.rateper "100"}}selected=""{{/equal}}>100</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][amount]" value="{{this.amount}}" id="amount{{sum @index 1}}" class="form-control amount" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][pcktype]" id="pcktype" class="form-control" style="width: 102px;">
                    <option value="Gross" {{#equal this.pcktype "Gross"}}selected=""{{/equal}}>Gross</option>
                    <option value="Net" {{#equal this.pcktype "Net"}}selected=""{{/equal}}>Net</option>
                    </select>
                </td> 
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][g_n]" id="g_n{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="O" {{#equal this.g_n "O"}}selected=""{{/equal}}>O</option>
                    <option value="N" {{#equal this.g_n "N"}}selected=""{{/equal}}>N</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][ipack]" value="{{this.ipack}}" class="form-control" style="width: 102px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_rt]" value="{{this.slbrk_rt}}" id="slbrk_rt{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][slbrk_type]" id="slbrk_type{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.slbrk_type "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.slbrk_type "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl" {{#equal this.slbrk_type "PQtl"}}selected=""{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.slbrk_type "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_amt]" value="{{this.slbrk_amt}}" id="slbrk_amt{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][brbrk_rt]" value="{{this.brbrk_rt}}" id="brbrk_rt{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brbrk_typ]" value="{{this.brbrk_typ}}" id="brbrk_typ{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.brbrk_typ "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.brbrk_typ "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl"  {{#equal this.brbrk_typ "PQtl"}}selected{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.brbrk_typ "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                </td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][brbrk_amt]" value="{{this.brbrk_amt}}" id="amount2{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_rte]" value="{{this.slbrk_rte}}" id="slbrk_rte{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][slbrk_typ]" id="slbrk_typ{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.slbrk_typ "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.slbrk_typ "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl" {{#equal this.slbrk_typ "PQtl"}}selected=""{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.slbrk_typ "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                    </td>
                    <td>
                        {{#notequal @index 0}}
                        <a  data-repeater-delete="inner-field-{{@../index}}-{{sum @index 1}}" data-brand-index="{{sum @index 1}}" class='sauda_delete_btn' style='cursor:pointer;'><i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i></a>
                        {{/notequal}}
                    </td>
             </tr>
             </tbody>
            {{/each}}
            <tbody id="contract_div"></tbody> 
            
    </table>
    </div>
    <center><a id="add" class="addMachine" style="font-size: 30px;cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i></a></center>
                
               <div class="row"> 

                         <div class="col-sm-2">
                            <label style="margin-left: 22px;">Total Bags:</label>
                    </div> 
                         <div class="col-sm-2">
                            <input name="tot_bags" id="tot_bags"  value="{{delveryentry1.tot_bags}}" class="form-control tot_bags" style="margin-left: -58px;">
                    </div> 
                     <div class="col-sm-2">
                            <label>Total Wght:</label>
                    </div> 
                         <div class="col-sm-2">
                             
                          <input type="text" name="tot_wght" id="tot_wght"   value="{{delveryentry1.tot_wght}}" class="form-control item_name" style="margin-left: -68px;">
                    </div>
                          
                     <div class="col-sm-2">
                      <label>Total Ammount:</label>
                    </div> 
                          <div class="col-sm-2">
                          <input type="text" name="tot_ammount" id="tot_ammount" value="{{delveryentry1.tot_ammount}}" class="form-control tot_ammount" style="margin-left: -48px;">
                    </div>     
                </div>
                <br/>
                <div class="col-lg-12">
               <div class="panel panel-default">
                 <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Bill Number</label>     
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="bno" value="{{delveryentry1.bno}}" class="form-control">
                    </div>
                     <div class="col-sm-1">
                          <label style="margin-left: 12px;">Date</label>
                    </div> 
                    <div class="col-sm-2"> 
                          <input type="text" name="bdt" value="{{delveryentry1.bdt}}" class="form-control datepicker">
                    </div> 
                     <div class="col-sm-2">
                          <label >Motar No</label>
                    </div>
                     <div class="col-sm-2"> 
                          <input type="text" name="mot_no" value="{{delveryentry1.mot_no}}" class="form-control">
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Transport</label>     
                    </div> 
                    <div class="col-sm-5">
                          {{#listrt transport delveryentry1.tptcode  'tptcode' }}
                                        {{this.transport_name}}
                            {{/listrt}}
                         {{!-- <select name="tptcode" id="tptcode" class="form-control">
                            {{#each transport}}
                            <option value="{{this._id}}">{{this.transport_name}}</option>
                            {{/each}}
                         </select>  --}}
                    </div> 
                     <div class="col-sm-3">
                          <label >Collection</label>
                    </div>
                     <div class="col-sm-1">
                         <input type="text" name="tpt_col" value="{{delveryentry1.tpt_col}}" class="form-control" style="margin-left: -76px;width: 122px;">   
                    </div>
                </div>
                  <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Freight</label>     
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="frght" value="{{delveryentry1.frght}}" class="form-control">
                    </div>
                     <div class="col-sm-1">
                          <label style="margin-left: 12px;">Rate</label>
                    </div> 
                    <div class="col-sm-2"> 
                          <input type="text" name="frght_rt" value="{{delveryentry1.frght_rt}}" class="form-control">
                    </div> 
                     <div class="col-sm-2">
                          <label >Advance</label>
                    </div>
                     <div class="col-sm-2"> 
                          <input type="text" name="frght_adv" value="{{delveryentry1.frght_adv}}" class="form-control" style="    margin-left: -1px;width: 123px;">
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Term</label>     
                    </div> 
                    <div class="col-sm-2">
                          {{#listrt term delveryentry1.term  'term' }}
                                        {{this.term_name}}
                            {{/listrt}}
                         {{!-- <select name="term" id="term" class="form-control" style="width: 92px;">
                            {{#each term}}
                            <option value="{{this._id}}">{{this.term_name}}</option>
                            {{/each}}
                         </select>   --}}
                    </div>
                     <div class="col-sm-2">
                         <input type="radio" name="paycond" {{chkchecked delveryentry1.paycond "D"}} value="D" style="margin-left: -18px;">
                    </div> 
                    <div class="col-sm-2">
                        <label style="margin-left: -140px;">Discount</label> 
                    </div>
                    <div class="col-sm-1"> 
                         <input type="radio" name="paycond" {{chkchecked delveryentry1.paycond "C"}} value="C" style="margin-left: -120px;">
                    </div> 
                     <div class="col-sm-1">
                          <label style="margin-left: -149px;">Credit</label>
                    </div>
                     <div class="col-sm-1">
                           <input type="text" name="cre_days" value="{{delveryentry1.cre_days}}" class="form-control" style="margin-left: -78px;width: 124px;">
                    </div>
                    <div class="col-sm-1" style="margin-top: -33px;">
                          <label style="margin-left: 475px;">Days/%</label>
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Add1</label>     
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="add1_rmk" value="{{delveryentry1.add1_rmk}}" class="form-control">
                    </div>
                     <div class="col-sm-2">
                         <input type="text" name="add1_amt" value="{{delveryentry1.add1_amt}}" class="form-control">
                    </div> 
                    <div class="col-sm-1"> 
                        <label style="margin-left: 12px;">Less1</label>
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="less1_rmk" value="{{delveryentry1.less1_rmk}}" class="form-control">
                    </div>
                     <div class="col-sm-2">
                         <input type="text" name="less1_amt" value="{{delveryentry1.less1_amt}}" class="form-control">
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Add2</label>     
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="add2_rmk" value="{{delveryentry1.add2_rmk}}" class="form-control">
                    </div>
                     <div class="col-sm-2">
                         <input type="text" name="add2_amt" value="{{delveryentry1.add2_amt}}" class="form-control">
                    </div> 
                    <div class="col-sm-1"> 
                        <label style="margin-left: 12px;">Less2</label>
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="less2_rmk" value="{{delveryentry1.less2_rmk}}" class="form-control">
                    </div>
                     <div class="col-sm-2">
                         <input type="text" name="less2_amt" value="{{delveryentry1.less2_amt}}" class="form-control">
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-3">
                             <label style="margin-left: 12px;">Add3</label>     
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="add3_rmk" value="{{delveryentry1.add3_rmk}}" class="form-control" >
                    </div>
                     <div class="col-sm-2">
                         <input type="text" name="add3_amt" value="{{delveryentry1.add3_amt}}" class="form-control">
                    </div> 
                    <div class="col-sm-1"> 
                        <label style="margin-left: 12px;">Less3</label>
                    </div> 
                    <div class="col-sm-2">
                            <input type="text" name="less3_rmk" value="{{delveryentry1.less3_rmk}}" class="form-control">
                    </div>
                     <div class="col-sm-2">
                         <input type="text" name="less3_amt" value="{{delveryentry1.less3_amt}}" class="form-control">
                    </div>
                </div>
                </div>
                </div>
                <div class="col-lg-12">
               <div class="panel panel-default">
                <br/>
                 <div class="row"> 
                     <div class="col-sm-5">
                          <label style="margin-left: 12px;">Other Terms & condition</label>
                    </div>
                     <div class="col-sm-7">
                           {{#listrt narration delveryentry1.party_terms  'party_terms' }}
                                        {{this.narration_name}}
                            {{/listrt}}
                         {{!-- <select name="party_terms" id="party_terms" class="form-control">
                            {{#each narration}}
                            <option value="{{this._id}}">{{this.narration_name}}</option>
                            {{/each}}
                         </select> --}}
                    </div>
                </div>
                <br/>
                 <div class="row"> 
                         <div class="col-sm-5">
                             <label style="margin-left: 12px;">Remarks</label>     
                    </div> 
                    <div class="col-sm-7">
                            <input type="text" name="party_remarks" value="{{delveryentry1.party_remarks}}" class="form-control">
                    </div>
                </div>
                <div class="row"> 
                         <div class="col-sm-5">
                             <label style="margin-left: 12px;">Bargain Amt(Calcutation)</label>     
                    </div> 
                    <div class="col-sm-7">
                            <input type="text" name="barg_amt" value="{{delveryentry1.barg_amt}}" class="form-control">
                    </div>
                </div>
                 <div class="row"> 
                         <div class="col-sm-5">
                             <label style="margin-left: 12px;">Bill Amt(Party Bill)</label>     
                    </div> 
                    <div class="col-sm-7">
                            <input type="text" name="bill_amt" value="{{delveryentry1.bill_amt}}" class="form-control">
                    </div>
                </div>
                <br/>
                </div>
                 </div>
    </div>
                <br/>
                 <div class="box-footer">
                      <input type="submit" class="btn btn-info " value="UPDATE" id="submit">
                       <input type="reset" class="btn btn-default pull-right" value="Clear Form">
                </div>
            </form>
            </div>
        </div>  
        </div>
        <style>
            tbody td {
            padding: 0px;
            }
        </style>
        {{> footer}}
        