{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
<div class="col-lg-12" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Update Party Masters
                    {{#if err}}
                        <div class="alert alert-danger">
                            <strong>{{err}}</strong>
                        </div>
                    {{/if}}
                    {{#if errors}}
                             <div class="alert alert-danger">
                                <strong>{{errors}}</strong>
                            </div>
                    {{/if}}
                    
                </div>
                <div class="panel-body">
                    <div class="alert alert-success brandsuccess" style="display:none;"></div>
                    <div class="alert alert-danger branddanger" style="display:none;"></div>
                      <form method="POST" action="/party/party_update_submit/{{party.id}}"  class="repeater" style="width: 842px;">
                      <div class="row"> 
                         <div class="col-sm-8">
                             {{!-- } --}}
                           <input type="checkbox" name="p_type" {{chkchecked party.p_type "B"}}   value="B">  Buyer 
                            {{!--  --}}
                           <input type="checkbox" name="p_type" {{chkchecked party.p_type "S"}}  value="S"> Seller
                           {{!--  --}}
                           <input type="checkbox" name="p_type" {{chkchecked party.p_type "R"}}  value="R"> Buyer Broker
                           {{!--  --}}
                            <input type="checkbox" name="p_type" {{chkchecked party.p_type "T"}} value="T">  Seller Broker    
                    </div>     
                </div>
                    <div class="row">
                         <div class="input-group-col col-sm-4">
                        <label>Party Name</label>
                        <input class="form-control party_name" name="party_name" value="{{party.party_name}}" type="text" autocomplete="off"/>
                         <span class="form_error">Please enter Party Name</span>
                    </div>
                    <div class="col-sm-4">
                         <label> Address1</label>
                        <input class="form-control address1" value="{{party.address1}}" type="text" name="address1" />
                        <span class="form_error">Please enter Address</span>
                    </div>  
                     <div class="col-sm-4">
                         <label>Address2</label>
                    <input class="form-control address2" value="{{party.address2}}" type="text" name="address2"/>
                    <span class="form_error">Please enter Address</span>
                    </div>    
                      
                </div>
                 <div class="row"> 
                    
                         <div class="col-sm-4">
                        <label>Area Name</label>
                    <input class="form-control area_name" value="{{party.area_name}}" type="text" name="area_name" />
                    <span class="form_error">Please enter Area name</span>
                    </div> 
                     <div class="col-sm-4">
                          <label>City Name</label>
                          {{#listrt city party.city_name 'city_name'}}
                                    {{city_name}}
                           {{/listrt}}
                            <span class="form_error">Please Select City name</span>
                    </div> 
                    <div class="col-sm-4">
                          <label>State Name</label>
                           {{#listrt state party.state_name 'state_name'}}
                                    {{state_name}}
                           {{/listrt}}
                    </div>    
                </div>
                <div class="row"> 
                     
                         <div class="col-sm-4">
                          <label>Pin Code</label>
                        <input class="form-control pin_code" value="{{party.pin_code}}"  type="text" name="pin_code" />
                        <span class="form_error">Please enter Pin Code</span>
                    </div> 
                     <div class="col-sm-4">
                           <label>Credit Limit</label>
                            <input class="form-control credit_limit" value="{{party.credit_limit}}" type="text" name="credit_limit" />
                            <span class="form_error">Please enter Credit Limit</span>
                    </div> 
                     <div class="col-sm-4">
                        <label>PAN</label>
                        <input class="form-control pan_no" value="{{party.pan_no}}" type="text" name="pan_no" />        
                    </div>  
                </div>
                 <div class="row"> 
                     
                      <div class="col-sm-4">
                          <label>GSTIN</label>
                            <input class="form-control gstin" value="{{party.gstin}}" type="text" name="gstin" />
                            <span class="form_error">Please enter GSTIN</span>
                    </div> 
                         <div class="col-sm-4">
                         <label>Phone (Office) </label>
                            <input class="form-control phone_ofc" value="{{party.phone_ofc}}" type="text" name="phone_ofc" />
                            <span class="form_error">Please enter Phone (Office)</span>
                    </div>
                     <div class="col-sm-4">
                            <label>Phone(Resi.) </label>
                            <input class="form-control phone_resi" value="{{party.phone_resi}}" type="text" name="phone_resi" />
                            <span class="form_error">Please enter Phone(Resi.)</span>
                    </div>     
                </div>
                <div class="row">
                    
                    <div class="col-sm-4">
                          <label>FSSAI </label>
                            <input class="form-control fssai" value="{{party.fssai}}" type="text" name="fssai" />
                            <span class="form_error">Please enter FSSAI</span>
                    </div>  
                         <div class="col-sm-4">
                         <label>FAX </label>
                            <input class="form-control fax" value="{{party.fax}}" type="text" name="fax" />
                            <span class="form_error">Please enter FAX</span>
                    </div>
                     <div class="col-sm-4">
                           <label>Mobile No.(sms)  </label>
                            <input class="form-control mob_no" value="{{party.mob_no}}" type="text" name="mob_no" />
                            <span class="form_error">Please enter Mobile No.(sms)</span>
                    </div>  
                </div>
                <div class="row">
                    
                    <div class="col-sm-4">
                          <label>Mobile No. </label>
                            <input class="form-control fssai" value="{{party.mob_num}}" type="text" name="mob_num" />
                            <span class="form_error">Please enter FSSAI</span>
                    </div>  
                         <div class="col-sm-4">
                        <label>Proprietor  </label>
                            {{#listrt proprietor party.proprietor_name 'proprietor_name'}}
                                {{proprietor_name}}
                            {{/listrt}}
                            <span class="form_error">Please Select Proprietor</span>
                    </div> 
                     <div class="col-sm-4">
                           <label>Group  </label>
                           {{#listrt group party.group_name 'group_name'}}
                               {{group_name}}
                            {{/listrt}}
                                <span class="form_error">Please Select Group</span>
                    </div>  
                    <div class="col-sm-4">
                          <label>Category  </label>
                            <select name="category" id="category"  class="form-control category">
                            <option value="A" {{#equal party.category "A"}}selected=""{{/equal}}>A</option>
                            <option value="B" {{#equal party.category "B"}}selected=""{{/equal}}>B</option>
                            <option value="C" {{#equal party.category "C"}}selected=""{{/equal}}>C</option>
                            <option value="D" {{#equal party.category "D"}}selected=""{{/equal}}>D</option>
                            <option value="E" {{#equal party.category "E"}}selected=""{{/equal}}>E</option>
                         </select>
                         <span class="form_error">Please Select Category</span>
                    </div> 
                    <div class="col-sm-4">
                        <label>Remark  </label>
                             <input class="form-control remark" value="{{party.remark}}" type="text" name="remark" />
                            <span class="form_error">Please Select Remark</span>
                    </div> 
                <br/>
                 <div class="row"> 
                         <div class="col-sm-4">
                           <input type="checkbox" name="working" value="Y" {{#equal ../working this.Y}}checked=""{{/equal}}>Working
                        <input type="checkbox" name="envelope" value="Y" {{#equal ../envelope this.Y}}checked=""{{/equal}}>Envelope
                    </div>    
                </div>
                <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Bank Details</h1>
                </div>
            </div>
              <div class="row">
                     <div class="input-group-col col-sm-2"><label>Bank Name</label></div>
                    <div class="input-group-col col-sm-2"><label>IFSC Code</label></div>
                    <div class="input-group-col col-sm-2"><label>Account No</label></div>
                    <div class="input-group-col col-sm-2"><label>Branch Name</label></div>
                     </div>
            <div class="row">
                   <div class="col-sm-12">
            <div class="brand_add_container clearfix">
                {{#each party.party_bank as |value key|}}
                <div data-repeater-list="party_bank" class="bank_row">
                    <div data-repeater-item class="bank_repeat_row">
                        <div class="row" style="margin-bottom: -19px;">
                            <div class="input-group-col col-sm-2">
                            <select class="form-control bank_name" name="party_bank[{{@index}}][bank_name]">
                                <option value="">Select Bank</option>
                                {{#each ../bank}}
                                <option value="{{this._id}}" data-serialnum="{{this._id}}" {{#equal ../bank_name this._id}}selected=""{{/equal}}>{{this.bank_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group-col col-sm-2">
                            <input class="form-control" name="party_bank[{{@index}}][ifc_code]" value="{{value.ifc_code}}" type="text" autocomplete="off"/>
                        </div>
                        <div class="input-group-col col-sm-2">
                        <input class="form-control" type="text" value="{{value.account_no}}" name="party_bank[{{@index}}][account_no]"/>
                        </div>
                        <div class="input-group-col col-sm-2">
                        <input class="form-control" type="text" value="{{value.branch_name}}" name="party_bank[{{@index}}][branch_name]"/>
                    </div>
                    </div>
                                        
                    <div class="input-group-col col-sm-12">
                        <br />
                        {{!-- {{#notequal @index 0}} --}}
                        {{!-- <input data-repeater-delete  data-brand-index="{{@../index}}" style="float: right;margin-top: -58px; margin-right: 182px;" type="button" value="X" class="inner-delete-btn btn btn-danger"> --}}
                        <input data-repeater-delete type="button" value="X"style="float: right;margin-top: -58px; margin-right: 182px;" class="inner btn btn-danger"/>
                    {{!-- {{/notequal}} --}}
                    </div>
                                        
                </div>
                    {{/each}}      
            </div>
        </div>
                <div class="main_brand_add_button">
                    <input data-repeater-create type="button" style="margin-top: -108px;margin-left: -198px;width: 42px;" value="+" class="btn btn-primary"/>
                </div>
            </div>    
               
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Contact Details</h1>
                </div>
            </div>
            <div class="row">
                        <div class="input-group-col col-sm-3"><label>Contact</label></div>
                    <div class="input-group-col col-sm-3"><label>Mobile</label></div>
                    <div class="input-group-col col-sm-3"><label>Email</label></div>
                    <div class="input-group-col col-sm-3"><label>Document</label></div>
                     </div>
            {{#each party.contact_group as |value key|}}
             <div class="contact_variation_row-{{@index}}" id="contact_variation_row-{{@index}}-{{@index}}">
                    <div class="row"  style="margin-bottom: -19px;width: 832px;">
                        <div class="input-group-col col-sm-3">
                            <input class="form-control" name="contact_group[{{@index}}][contact_no]" value="{{value.contact_no}}"  placeholder="Contact" type="text" autocomplete="off"/>
                        </div>
                        <div class="input-group-col col-sm-3">  
                            <input class="form-control" type="text" value="{{value.mobile_no}}" name="contact_group[{{@index}}][mobile_no]"/>
                        </div>
                        <div class="input-group-col col-sm-3">
                            <input class="form-control" type="email" placeholder="Email" name="contact_group[{{@index}}][email_id]" value="{{value.email_id}}"/>
                        </div>
                            <div class="input-group-col col-sm-3">  
                        <select name="contact_group[{{@index}}][document]" id="document" class="form-control">
                            {{!-- <option value="{{value.document}}">{{value.document}}</option> --}}
                            <option value="All">All</option>
                            <option value="Contract From" {{#equal value.document "Contract From"}}selected=""{{/equal}}>Contract From</option>
                            <option value="Delivery Entry" {{#equal value.document "Delivery Entry"}}selected=""{{/equal}}>Delivery Entry</option>
                            <option value="Payment Entry" {{#equal value.document "Payment Entry"}}selected=""{{/equal}}>Payment Entry</option>
                            <option value="Cash/Bank Book" {{#equal value.document "Cash/Bank Book"}}selected=""{{/equal}}>Cash/Bank Book</option>
                            <option value="Journal Entry" {{#equal value.document "Journal Entry"}}selected=""{{/equal}}>Journal Entry</option>
                        </select>
                        </div>
                        </div>
                        
                        <div class="input-group-col col-sm-12">
                            <br/>
                            {{!-- {{#notequal @index 0}} --}}
                                <input data-repeater-delete="inner-field-{{@../index}}-{{@index}}" data-brand-index="{{@index}}" type="button" value="X" style="float: right;margin-top: -58px; margin-right: -58px;" class="contact_delete_btn btn btn-danger">
                        {{!-- {{/notequal}} --}}
                            {{!-- <input data-repeater-delete type="button" value="X" style="float: right;margin-top: -58px; margin-right: -48px;" class="inner btn btn-danger"/> --}}
                        </div>
                        </div>
                         {{/each}}
                        </div>
                        </div>
                                 <div class="col-sm-12">
                        <div class="row contact_row">
                            </div>
                            <input type="button" value="+" class="contact-add-btn btn btn-primary" style="margin-top:-58px;;width: 42px;float: right;margin-right: -18px;">
                        </div>
                        </div>
                            </div>    
                        </div>
                        <br/>
                        <button type="submit" name="save" class="btn btn-success">Update</button>
                        <button type="reset" class="btn btn-primary">Cancel</button>
            </form>
        </div>
      </div>
      </div>
        {{!-- <div class="col-lg-6" style="margin-top: 22px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Group LIST
                </div>
                <div class="table-responsive">
                    <table class="product_detail_table">
                        <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Group Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                      </tr>  
                        </thead>
                        <tbody>
                                {{#each group as |value key|}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>{{this.group_name}}</td>
                                    <td><a href="javascript:void(0);"  class="edit_group_btn" data-id="{{this._id}}"><i class="fa fa-pencil"></i></i></a></td>
                                    <td><a href="javascript:void(0);" class="delete-group" data-id="{{this._id}}"><i class="fa fa-trash-o" style="color:red;"></a></td>
                               </tr>
                              {{/each}}  
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                </div> --}}
        </div>  
        </div>
        {{> footer}}